body{
    padding:0;
    margin: 0;
    background-color:white;
}
.header{
    background-color: brown;
    position: sticky;
    top: 0;
    padding: 7px;
    height:98px;

}

.topleft {
    position:fixed;
    top: 0px;
    left: 30px;
    
}
.header h1{
    color: white;
    text-align: center;
    font-size: 70px;
   position: fixed;
    top: 0px;
    left: 170px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}

marquee{
    font-size: 40px;
    color: whitesmoke;
    font-style: italic;
    position: sticky;

}

.container{
    width: 100%;
    background-color:white;
    
}

h2{
    font-size: 25;
    font-weight: lighter;
    text-align: center;
}

/*ful-width input fields*/
input[type=text],
input[type=password] {
    width:100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background: #f1f1f1;
    box-sizing: border-box;
} 

/*add backgroundcolor when inputs get focus*/
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/*Boadered form*/
form{
    border: 2px solid blue;
    padding: 3px;
    border-radius: 3px;
    width: 25%;
    margin: 15px auto;

}


/*set a style for all buttons*/
button{
    background-color: #04AA6d ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn{
    background-color: #04AA6d ;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 20px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    display: grid;
    margin: auto;
    width: 50px;
    
}

/*hover effect for buttons*/
button:hover{
    opacity: 0.8;
}

/*style for cancel btn (red)*/
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: red/*#f44336*/;
}

/*centering avatar in the container*/
.imgcontainer{
    text-align: center;
    margin: 20px 0 10px 0;
}

/*avatar image*/
img.avatar{
    width: 35%;
    border-radius: 40%;
}

/*add padding to containers*/
span.psw{
    float: right;
    padding-top: 12px;
}

/*chage styles for span oncase of cancel button on small screen*/
@media screen and (max-width:300px) {
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn{
        width: 100%;
    }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 901px) {
    .header h1{
      font-size: 70px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 900px) {
    .header h1 {
      font-size: 40px;
    }
  }

.footer{
    background-color: brown;
    color: white;
    text-align: center;
    position: sticky;
    bottom: 0px;
    height: 40px;
    padding: 0px;
}
